<p id="notice"><%= notice %></p>

<% if Country.count.zero? %>

  <div class="d-flex justify-content-center">
    <h1>You do not have any country</h1>
  </div>
  <div class="d-flex justify-content-center">
    <h2>Company needs a country (requirement 4.)</h2>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Let's create a Country", new_country_path, class: "btn btn-primary" %>
  </div>

<% else %>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.country_name %></td>
        <td><%= link_to 'Create a teller entry', new_teller_path, class: "btn btn-secondary" %></td>
        <td><%= link_to 'Show ledger', company, class: "btn btn-secondary" %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>

<% end %>
