<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country_name %>
</p>

<% if @company.tellers.count.positive? %>
  <h3>Tellers</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Opening</th>
      <th>In</th>
      <th>Out</th>
      <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <% @company.tellers.find_each do |teller| %>
        <tr>
          <td><%= teller.date.year %></td>
          <td><%= teller.date.month %></td>
          <td><%= teller.opening %></td>
          <td><%= teller.cash_in %></td>
          <td><%= teller.cash_out %></td>
          <td><%= teller.balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'New Teller entry', new_teller_path, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
